[Unit]
Description=Run TUNderflow tracker update twice daily

[Timer]
OnCalendar=*-*-* 06,18:35:00
Persistent=true
RandomizedDelaySec=2m

[Install]
WantedBy=timers.target
