[Unit]
Description=Run TUNderflow tracker update daily

[Timer]
OnCalendar=*-*-* 06:35:00
Persistent=true
RandomizedDelaySec=2m

[Install]
WantedBy=timers.target
